/* styles for waitstaff calculator */

h1 {
  text-align: center;
  font: 30px;
  color: #333;
}

body {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

label {
  color: #333;
}

.meal-entry {
  border: solid 1px #555;
  text-align: center;
  padding: 15px;
  width: 350px;
  margin: 0 auto;
  margin-top: 40px;
}

/* .meal-form-wrapper {
  width: 90%;
  margin: 0 auto;
} */

.meal-entry form {
  margin: 10px;
  /* text-align: left; */
}

.meal-entry-button {
  margin-top: 15px;
  margin-right: 5px;
  padding: 4px;
  width: 65px;
  height: 25px;
  border: solid 1px #333;
  box-shadow: 1px 2px #333;
}

.meal-entry-title {
  font: 500;
  font-size: 18px;
  border-bottom: solid 1px #555;
}

.customer-charges {
  border: solid 1px #555;
  text-align: center;
  padding: 15px;
  width: 250px;
  margin: 0 auto;
  margin-top: 40px;
}

.customer-charges-title {
  font: 500;
  font-size: 18px;
  border-bottom: solid 1px #555;
}

.earnings-info {
  border: solid 1px #555;
  text-align: center;
  padding: 15px;
  width: 250px;
  margin: 0 auto;
  margin-top: 40px;
}

.earnings-info-title {
  font: 500;
  font-size: 18px;
  border-bottom: solid 1px #555;
}

.reset {
  position: fixed;
  bottom: 25px;
  width: 100%;
}
.reset-button {
  font-size: 14px;
  float: right;
  margin-right: 200px;
  width: 75px;
  height: 35px;
  border: solid 1px #333;
  box-shadow: 1px 2px #333;
}